body {
	font-family: Comic Sans MS, Arial;
	cursor: url(../img/mouse1.png), auto;
}
.relacion {
	margin: auto;
	width: 600px;
	text-align: center;
	background: #DEAA87;
	cursor: url(../img/mouse2.png), auto;
	border-radius: 10px;
}
#menu_control {
	text-align: center;
	float: right;
}
.menu_Usuario {
	margin-bottom: 5px;
	background-color: #B5954A;
	width: 230px;
	text-align: center;
	border-radius: 10px;
}
.menu_Usuario:hover {
	color : white;
	background-color: black;
	cursor: url(../img/mouse2.png), auto;
}
#sesion {
	background-color: #B5954A;
	width: 230px;
	text-align: center;
	border-radius: 10px;
	float: left;
}
#proceso {
	margin-right: 5px;
	width: 230px;
	float: right;
}
#sesion:hover {
	color : #800000;
	background-color: black;
	cursor: url(../img/mouse2.png), auto;
}
#titulo {
	padding-top: 4px;
	border-radius: 10px;
	background-image: url("../img/titulo_logo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 66.5%;
	height: 270px;
	margin: auto;
	margin-bottom: 5px;
}
.cambio {
	width: 99%;
	border-radius: 10px;
}
#titulo_logo {
	width: 80%;
	margin-bottom: 10px;
}
#cabeza {
	text-align: center;
	width: 80%;
	margin: auto;
}
#cabezamenu{
	
	width: 100%;
	margin: auto;
}

.menu {
	margin: auto;
	width: 10%;
	display: inline-block;
}

.menuindex {
	margin: auto;
	width: 13%;
	display: inline-block;
}

.menu:hover {
    cursor: url(../img/mouse2.png), auto;
}

#cuerpo {
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 10px;
	background-color: #B5954A;
	width: 66.5%;
	margin: auto;
	text-align: center;
	margin-bottom: 5px;
}

.menu :hover {
	cursor:pointer;

}
#pie {
	padding-top: 4px;
	border-radius: 10px;
	background-color: #B5954A;
	width: 66.5%;
	height: 105px;
	margin: auto;
	text-align: center;
}

#pie_text {
	margin-left: 5px;
	text-align: left;
	font-family: Comic Sans MS, Arial;
	float: left;
}

#cargando {
	width: 30%;
}
#exito {
	margin-top: 5%;
	width: 10%;
	margin-bottom: 5%;
}