<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RestLonccos</servlet-name>
		<servlet-class>pw.RestLonccosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestLonccos</servlet-name>
		<url-pattern>/restlonccos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Restaurant</servlet-name>
		<servlet-class>pw.RestaurantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Restaurant</servlet-name>
		<url-pattern>/restaurant</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SaveCliente</servlet-name>
		<servlet-class>pw.SaveCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveCliente</servlet-name>
		<url-pattern>/saveCliente</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ObtenerClientes</servlet-name>
		<servlet-class>pw.ObtenerClientes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerClientes</servlet-name>
		<url-pattern>/obtenerClientes</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>xD</servlet-name>
		<servlet-class>pw.xD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xD</servlet-name>
		<url-pattern>/xD</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
